.container
	%hr
%footer.global-footer.text-center-sm
	%section
		.container
			.row
				.col-sm-3.col-xs-12
					.logo-container.margin-bottom
						%a{:href=>"/"}
							%img.half-margin-bottom{:src=>"../images/logo_footer@2x.png",:width=>"137px"}
						%p.copyright.small
							© Evercheck 2014
							%br
							1-888-404-7996
							%br
							Support@evercheck.com
				.col-sm-2.margin-bottom
					%p.small.bold-font-name
						About
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"/company"}
								Company
						%li
							%a{:href=>"#"}
								Blog 
						%li
							%a{:href=>"/jobs"}
								Jobs
						%li
							%a{:href=>"/pricing#faqs"}
								FAQs
				.col-sm-2.margin-bottom
					%p.small.bold-font-name
						Features
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"/solution"}
								Solution
						%li
							%a{:href=>"/solution/monitor"}
								Monitor
						%li
							%a{:href=>"/solution/collaborate"}
								Collaborate
						%li
							%a{:href=>"/solution/integrate"}
								Integrate
						%li
							%a{:href=>"/solution/manage"}
								Manage
				.col-sm-2.margin-bottom
					%p.small.bold-font-name
						Learn More
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"/pricing"}
								Pricing
						%li
							%a{:href=>"/security"}
								Security
						%li
							%a{:href=>"/demo"}
								Schedule a Demo 
						%li
							%a{:href=>"/privacy"}
								Privacy Policy
						%li
							%a{:href=>"#"}
								Download the App
				.col-sm-2.margin-bottom
					%p.small.bold-font-name
						Get in Touch
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"/contact"}
								Contact Us




