.container
	%hr
%footer.global-footer.text-center-sm
	%section
		.container
			.row
				.col-sm-3.col-xs-12
					.logo-container.margin-bottom
						%a{:href=>"#"}
							%img.half-margin-bottom{:src=>"../images/logo_footer@2x.png",:width=>"137px"}
						%p.copyright.small
							© Evercheck 2014
							%br
							1-888-404-7996
							%br
							Support@evercheck.com
				.col-sm-2.margin-bottom
					%p.small.bold-font-name
						About
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"#"}
								Company
						%li
							%a{:href=>"#"}
								Blog 
						%li
							%a{:href=>"#"}
								Jobs
						%li
							%a{:href=>"#"}
								FAQs
				.col-sm-2.margin-bottom
					%p.small.bold-font-name
						Features
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"#"}
								Solution
						%li
							%a{:href=>"#"}
								Monitor
						%li
							%a{:href=>"#"}
								Collaborate
						%li
							%a{:href=>"#"}
								Integrate
						%li
							%a{:href=>"#"}
								Manage
				.col-sm-2.margin-bottom
					%p.small.bold-font-name
						Learn More
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"#"}
								Pricing
						%li
							%a{:href=>"#"}
								Security
						%li
							%a{:href=>"#"}
								Schedule a Demo 
						%li
							%a{:href=>"#"}
								Privacy Policy
						%li
							%a{:href=>"#"}
								Download the App
				.col-sm-2.margin-bottom
					%p.small.bold-font-name
						Get in Touch
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"#"}
								Contact Us




