%section.page-header-section{:style=>"background-image:url(../images/banner_jobs@2x.png);"}
%section
	.container
		.row
			.col-lg-3.col-md-2
			.col-lg-6.col-md-8
				%h2.text-center
					It Takes a Team
				%p.text-center
					We’re on a mission to develop technology that allows healthcare organizations to simplify the impact of regulation. It takes a team of passionate people to make that mission a reality. 
				.double-margin-top.text-center
					%a.btn.btn-default.btn-lg{:href=>"#"}
						View Open Positions
			.col-lg-3.col-md-2
.container
	.row
		.col-xs-1
		.col-xs-10
			%hr
		.col-xs-1
%section
	.container
		.row
			.col-lg-12
				%h2.text-center
					What We Expect
		.row
			.col-lg-1
			.col-sm-6.col-lg-5
				.padded.hover-lift
					.media
						.media-left
							%img.media-object{:src=>"../images/icon_team@2x.png",:width=>"110px"}
						.media-body
							%h4.media-heading
								Teamwork
							%p.small
								We communicate well and often. Maybe some more text here to make the descriptions similar in length. 
			.col-sm-6.col-lg-5
				.padded.hover-lift
					.media
						.media-left
							%img.media-object{:src=>"../images/icon_compentency@2x.png",:width=>"110px"}
						.media-body
							%h4.media-heading
								Competency
							%p.small
								We are a team of subject matter experts because we love what we do and we go the extra mile to learn as much about our industry as possible. 
			.col-lg-1
		.row
			.col-lg-1
			.col-sm-6.col-lg-5
				.padded.hover-lift
					.media
						.media-left
							%img.media-object{:src=>"../images/icon_flexibility@2x.png",:width=>"110px"}
						.media-body
							%h4.media-heading
								Flexibility
							%p.small
								This industry is dynamic, and change is the only constant in life. We roll with it, and we don’t sweat the small stuff. 
			.col-sm-6.col-lg-5
				.padded.hover-lift
					.media
						.media-left
							%img.media-object{:src=>"../images/icon_attention_to_detail@2x.png",:width=>"110px"}
						.media-body
							%h4.media-heading
								Attention to Detail
							%p.small
								There’s something beautiful about a perfectly crafted line of code, email, or even a sticky note
			.col-lg-1
		.row
			.col-lg-1
			.col-sm-6.col-lg-5
				.padded.hover-lift
					.media
						.media-left
							%img.media-object{:src=>"../images/icon_continuous_improvement@2x.png",:width=>"110px"}
						.media-body
							%h4.media-heading
								Continuous Improvement
							%p.small
								We embrace new ideas and constantly strive to make ourselves and EverCheck better
			.col-sm-6.col-lg-5
				.padded.hover-lift
					.media
						.media-left
							%img.media-object{:src=>"../images/icon_enthusiasm@2x.png",:width=>"110px"}
						.media-body
							%h4.media-heading
								Enthusiasm
							%p.small
								We love technology and choose to inject our passion into our day-to-day. 
			.col-lg-1		
%section.white-bg
	.container
		.row
			.col-lg-12
				%h2.text-center
					What We Offer 
		.row.margin-top
			.col-sm-1
			.col-sm-5
				.padded.no-padding-top
					%img.img-responsive.margin-auto{:src=>"../images/img_jobs@2x.png",:width=>"390px"}
			.col-sm-6
				%ul
					%li
						Competitive pay
					%li
						Paid time off and 9 guaranteed paid holidays annually
					%li
						Group health insurance with medical, dental, and 
					%li
						vision benefits 
					%li
						Employer-paid life insurance 
					%li
						Employer-paid long-term disability coverage
					%li
						Short-term disability coverage 
					%li
						Annual ownership incentive bonus
					%li
						401(k) with company match
					%li
						Monthly fitness allowance
					%li
						Subsidized organic produce delivery
					%li
						Casual office environment just steps from the beach
					%li
						Awesome co-workers 
%section.offer-section#offer
	.container
		.row
			.col-sm-3
			.col-sm-6
				.text-center
					%h4.margin-bottom
						If you think you have what it takes to be a part of the EverCheck team, we’d love to hear from you. 
					%a.btn.btn-primary.btn-lg.margin-bottom{:href=>"#"}
						View Open Positions
			.col-sm-3