;;;
"title": "Security"
;;;

%section
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"../images/illustration_security@2x.png", :width=>"753px"}
		.row
			.col-md-3
			.col-md-6
				%h2.text-center
					Security You Can Trust 
				%p
					At EverCheck, the security of your data is our number one priority. 
				.double-margin-bottom.double-margin-top
					%p.bold-font-name.small
						Get connected and stay connected. 
					%p.small
						EverCheck’s system is reliable. Historically, our system has maintained an uptime of more than 99%. That means more than 99% of the time, you can feel confident that you and your staff’s workflow won’t be disrupted. 
				.double-margin-bottom.double-margin-top
					%p.bold-font-name.small
						Customize your EverCheck experience. 
					%p.small
						EverCheck’s system is reliable. Historically, our system has maintained an uptime of more than 99%. That means more than 99% of the time, you can feel confident that you and your staff’s workflow won’t be disrupted. 	
				.double-margin-bottom.double-margin-top
					%p.bold-font-name.small
						Transfer data securely. 
					%p.small
						EverCheck uses a Secure File Transfer Protocol (SFTP) to transfer your sensitive data over a secure data stream. Your information is protected both in transit and at rest. 
				.double-margin-bottom.double-margin-top
					%p.bold-font-name.small
						Authenticate through your network with single sign-on. 
					%p.small
						As an added measure of security, you can opt to add EverCheck’s single sign-on feature and require users to authenticate their EverCheck access through your organization’s existing network. 
				.double-margin-bottom.double-margin-top
					%p.bold-font-name.small
						We’re prepared for the unlikely event of a disaster. 
					%p.small
						EverCheck utilizes secure offsite backups to our servers in the event of a disaster. We have geographic diversity via on-demand servers available in a secondary geographical location. Backups of our servers, virtual machines, and the database can be loaded on these machines, and we can have you back up and running within 48-72 hours. 
			.col-md-3
=partial"shared/offer"