.global-nav{
	background-color:white;
	padding:5px 0;
	a.navbar-brand{
		position: relative;
		top:-4px;
		padding-right: 20px;
	}
	ul.navbar-nav{
		li{
			font-size: 1.2rem;
			font-family: $medium-font-name;
			a{
				padding-right:25px;
				padding-left:25px;
				color:$text-color;
			}
		}
		.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
	}
}