.home-image-container{
	background-size:50%;
  background-position:center center;
  background-repeat:no-repeat;
	background-image:url(../images/home_background@2x.png);
	margin-top:-60px;
	img{
		position: relative;
	}
	#home-gears{
		top: 84px;
    left: 104px;
    @include animation-duration(.8s);
    @include animation-delay(.5s);
	}
	#home-browser{
		@include animation-duration(.8s);
	}
}

.home-product-container{
	#home-phone{
		position:absolute;
		bottom:301px;
		right:-15px;
		margin-bottom:-301px;
		
	}
}


