;;;
"title": "Schedule a Demo"
;;;

%section
	.container
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				.text-center
					%h2
						Schedule Your Demo With EverCheck 
					%h4
						Give us 30 minutes. We’ll talk about your needs, answer any questions you have, and help you decide if EverCheck is the solution that makes sense for your organization. 
			.col-md-3.col-sm-2
		.row.margin-top
			.col-lg-3.col-sm-2
			.col-lg-6.col-sm-8
				%form
					.col-md-12
						.form-group
							%label
								Your Name
							%input.form-control.input-lg{:type=>"text"}
					.col-md-6
						.form-group
							%label
								Your Email
							%input.form-control.input-lg{:type=>"text"}
					.col-md-6
						.form-group
							%label
								Your Role
							%input.form-control.input-lg{:type=>"text"}
					.col-md-6
						.form-group
							%label
								Company Name
							%input.form-control.input-lg{:type=>"text"}
					.col-md-6
						.form-group
							%label
								Company Telephone
							%input.form-control.input-lg{:type=>"text"}
					.col-md-12.margin-top
						%a.btn-primary.btn.btn-block.btn-lg{:href=>"demo/confirm"}
							Schedule My Demo
			.col-lg-3.col-sm-2
%section.white-bg
	.container
		.row
			.col-sm-2
			.col-sm-8
				%blockquote
					%p
						““Wow, you guys really went above and beyond. One of the most advanced Web apps I’ve used."
					%footer
						\- HRIS Manager, Cabell Huntington Hospital
