/ %section.next-up
/ 	.container
/ 		.row
/ 			.col-sm-4
/ 			.col-sm-4
/ 				%a{:href=>"#"}
/ 					.padded
/ 						%h5
/ 							Next Up
/ 						%h3
/ 							Integrate
/ 							%small
/ 								%i.fa.fa-chevron-right
/ 			.col-sm-4
