%section.offer-section#offer
	.container
		.row
			.col-sm-12
				.text-center
					%h4.margin-bottom
						Let’s get started
					%a.btn.btn-primary.btn-lg.margin-bottom{:href=>"/demo"}
						Schedule Demo
					%p
						%small
							Or call 
							%span.text-underline
								888-404-7996
