
%section
	.container
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				%h2.text-center
					Privacy Policy
			.col-md-3.col-sm-2
		.row
			.col-sm-2
			.col-sm-8
				.display-text
					%p
						EverCheck knows that you care how information about you is used and shared. This notice describes our privacy policy.
						%br
							%b 
								By visiting EverCheck, you are accepting the practices described in this Privacy Notice.
					%h4 
						What personal information does EverCheck gather?
					%p 
						The information we learn helps us personalize and continually improve your experience at EverCheck. Here are the types of information we gather.
					%p
						%b> Information you give us:
						\&nbsp;We receive and store any information you enter on our website or give us in any other way. We use the information that you provide for such purposes as responding to your requests, improving our services, and communicating with you.
					%p
						%b> Automatic information:
						\&nbsp;We receive and store certain types of information whenever you interact with us. For example, like many websites, we use “cookies,” and we obtain certain types of information when your Web browser accesses EverCheck.
					%p
						%i 
							Examples of the information we receive
						%br
							Examples of the information we collect and analyze include the Internet protocol (IP) address used to connect your computer to the Internet; login; e-mail address; password; computer and connection information such as browser type and version; the full Uniform Resource Locator (URL) click stream to, through, and from our website, including date and time; cookie number; courses you viewed or searched for; and the phone number you used to call our toll free Help Desk. During some visits we may use software tools such as JavaScript to measure and collect session information, including page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page.
					%h4 
						What about cookies?
					%ul
						%li
							Cookies are alphanumeric identifiers that we transfer to your computer’s hard drive through your Web browser to enable our systems to recognize your browser and help to personalize your online experience.
						%li 
							Cookies can not be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to your computer and can only be read by a web service in the domain that issued the cookie to you.
						%li 
							The Help portion of the toolbar on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. However, we recommend that you leave them turned on.
						%li
							As you browse EverCheck.com, advertising cookies will be placed on your computer so that we can understand what you are interested in. Our display advertising partners&nbsp;then enable us to present you with retargeting advertising on other sites based on your previous interaction with EverCheck.com. The techniques our partners employ do not collect personal information such as your name, email address, postal address, or telephone number. &nbsp;You can visit this&nbsp;
							%a{:href => "http://www.networkadvertising.org/choices/"}> page
							\&nbsp;to opt out of the targeted advertising.
					%h4 
						How secure is information about me?
					%ul
						%li 
							EverCheck is committed to protecting the security of your personal information. We use a variety of security technologies and procedures to help protect your personal information from unauthorized access, use, or disclosure. For example, we store the personal information you provide on computer systems&nbsp;located in controlled facilities with limited access. In addition, your credit card/e-check account numbers are encrypted in our database.
						%li 
							We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input.
						%li 
							It is important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when finished using a shared computer.
					%h4 
						What choices do I have?
					%p
						You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of EverCheck or other websites you visit. If you are using a public terminal, you will want to log off, or sign out, before you leave the terminal.&nbsp;For extra security, close your browser after your log off. The Federal Trade Commission provides useful information about online privacy on its own website.
					%h4 
						Conditions of use, notices, and revisions
					%p
						If you choose to visit EverCheck, your visit and any dispute over privacy is subject to this Notice and our&nbsp;
						%a{:href => "http://www.evercheck.com/public/conditions-use/"}
							> Conditions of Use
						, including limitations on damages, arbitration of disputes, and application of the law of the state of Florida. If you have any concern about privacy at EverCheck, please send us a thorough description to&nbsp;
						%a{:href => "mailto:info@evercheck.com?Subject=Privacy%20Concern", :target => "_top"}
							> info@evercheck.com
						, and we will try to resolve it. Our business changes constantly, and our Privacy Notice and the Conditions of Use&nbsp;will change also. You should check our website frequently to see recent changes. Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of user information collected in the past without the consent of affected users. EverCheck includes links to state and national accrediting authorities. If you click on these links, these websites may attempt to place cookies on your computer. Any personal information you provide to these sites will be governed by the site’s privacy notice. EverCheck does not have access to any cookies placed by these sites and is not responsible for the privacy statements, any information collection practices, or other responsibility relating to any site outside the EverCheck site.
			.col-sm-2