.padded
	%h2.text-center
		%a{:href=>"/blog/single"}
			Track All Certifications & Licenses in One System
%p.small.medium-font-name
	Posted by John Doe on Jan. 1, 2016
%img.img-responsive.margin-bottom.no-padding{:src=>"../images/blog/img.png", :width=>"620px"}
%p
	So many certifications to monitor. So little time. How can you make sure that none of your employees forget to renew their certifications on time? EverCheck is automating the verification of hundreds of certifications and licenses for you already but there are some regulating agencies that do not
=partial"blog/meta"
.half-padding-top
	%a.next-up.pull-left.regular-font-name{:href=>"#"}
		Read More
		%small
			%i.fa.fa-long-arrow-right.primary-text-color
.double-margin-top
%hr
.double-margin-bottom