;;;
"title": "Single",
"layout": "blog"
;;;

:css
	body{
		background-color:white;
	}

%section
	.container
		.col-sm-2
		.col-sm-8
			.padded
				%h2.text-center
					Track All Certifications & Licenses in One System
			%p.small.medium-font-name
				Posted by John Doe on Jan. 1, 2016
			%img.img-responsive.margin-bottom.no-padding{:src=>"../images/blog/img.png", :width=>"100%"}
			%h4
				So many certifications to monitor.
			%p
				So many certifications to monitor. So little time. How can you make sure that none of your employees forget to renew their certifications on time? EverCheck is automating the verification of hundreds of certifications and licenses for you already but there are some regulating agencies that do not
			%p
				So many certifications to monitor. So little time. How can you make sure that none of your employees forget to renew their certifications on time? EverCheck is automating the verification of hundreds of certifications and licenses for you already but there are some regulating agencies that do not
			%h4
				So many certifications to monitor.
			%p
				So many certifications to monitor. So little time. How can you make sure that none of your employees forget to renew their certifications on time? EverCheck is automating the verification of hundreds of certifications and licenses for you already but there are some regulating agencies that do not
			%p
				So many certifications to monitor. So little time. How can you make sure that none of your employees forget to renew their certifications on time? EverCheck is automating the verification of hundreds of certifications and licenses for you already but there are some regulating agencies that do not
			=partial"blog/meta"
		.col-sm-8
%section
	.container
		.row
			.col-lg-12
				%h5.text-center
					You Might Also Like...
				.double-margin-bottom
		.row
			-3.times do
				.col-sm-4
					%a{:href=>"#"}
						%img.img-responsive{:src=>"/images/blog/placeholder@2x.png", :width=>"100%"}
						%h4.text-center.secondary-text-color
							I’m The Title of Another Post



