;;;
"title": "Our Story",
"description": "Learn more about the humans behind the software. "
;;;



%section
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"../images/illustration_company@2x.png", :width=>"753px"}
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				%h2.text-center
					This Is Our Story
				%p
					Many healthcare organizations face the challenge of having to manually verify license status with the Primary Source. EverCheck is the result of recognizing an opportunity within that challenge, and offering a solution that makes sense for hospitals’ compliance requirements and for their budgets. CE Broker, Florida’s official healthcare continuing education tracking system and EverCheck’s parent company, began providing license verification services in 2005. Since then, we’ve grown to 20+ employees who service more than 200 hospitals nationwide. And we’re just getting started. 

			.col-md-3.col-sm-2
%section.white-bg
	.container
		.row
			.col-lg-3.col-md-2
			.col-lg-6.col-md-8
				%h2.text-center
					Core Values
				=partial"values-slider"
			.col-lg-3.col-md-2

%section
	.container
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				%h2.text-center
					The Humans Behind the Software 
				%p
					Developing technologies that work better than the rest can be challenging. So we hire the best talent, give them the resources they need to be the best at what they do, and empower them to challenge the status quo in our industry. As a result, EverCheck is a leading provider of license verification software nationwide. 
				%p
					We’ve taken it one step further, and have designed a culture around our core values.
			.col-md-3.col-sm-2
%section
	.container
		.col-lg-12
			%h5.text-center.double-margin-bottom
				Meet Our Team
		-data.people.people.each do |p|
			.row.double-margin-bottom
				.col-md-2.col-sm-1
				.col-md-4.col-sm-5.col-md-push-4.col-sm-push-5
					%img.img-responsive.margin-auto.margin-top.img-circle{:src=>"../images/headshots/#{p.image}", :width=>"200px"}
				.col-md-4.col-sm-5.col-md-pull-4.col-sm-pull-5
					.double-margin-top
						%h4.bold-font-name
							= p.name
							%span.light-font-name
								= p.title
						%p.small
							= p.description
%section.white-bg
	.container
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				.text-center
					%h2.margin-bottom
						Sound like the kind of philosophy you can get behind? Take a look at our open positions. 
					%a.btn.btn-lg.btn-default{:href=>"/jobs"}
						View Open Positions
					

			.col-md-3.col-sm-2
=partial"shared/offer"