%table.price-table.table.table-bordered
	%thead
		%tr
			%td
				%td
					.text-center
						%p.bold-font-name.secondary-text-color.no-margin-bottom
							Small-mid
						%p.small.no-margin-bottom
							Solution
						%h2.no-margin-bottom
							$0.75
						%p.small.no-margin-bottom
							license / month
				%td.info
					.text-center
						%p.bold-font-name.secondary-text-color.no-margin-bottom
							Small-mid
						%p.small.no-margin-bottom
							Solution
						%h2.no-margin-bottom
							$0.75
						%p.small.no-margin-bottom
							license / month
	%tbody
		-5.times do
			%tr
				%td
					.text-right
						%p.small
							Vestibulum rutrum quam vitae fringilla.
				%td
					.text-center
						.primary-text-color
							&#10003;
				%td.info
					.text-center
						&mdash;
