
%table.price-table.table.table-bordered
	%thead
		%tr
			%td{:width=>"50%"}
				.padded
					%a.btn.btn-primary.btn-lg.btn-block{:href=>"/demo"}
						Schedule Demo
			%td
				.text-center
					%p.bold-font-name.secondary-text-color.no-margin-bottom
						EverCheck
					%h2.no-margin-bottom
						$0.75 
					%p.small.no-margin-bottom
						per monitored 
						%br
						employee per month
			%td.info
				.text-center
					%p.bold-font-name.secondary-text-color.no-margin-bottom
						EverCheck Plus
					%h2.no-margin-bottom
						$1.00
					%p.small.no-margin-bottom
						per verified 
						%br
						employee per month
	%tbody
		%tr
			%td
				.text-right
					%p.small
						Daily automated license verification
			%td
				.text-center
					.primary-text-color
						&#10003;
			%td.info
				.text-center
					.primary-text-color
						&#10003;
		%tr
			%td
				.text-right
					%p.small
						Credential tracking
			%td
				.text-center
					.primary-text-color
						&#10003;
			%td.info
				.text-center
					.primary-text-color
						&#10003;
		%tr
			%td
				.text-right
					%p.small
						Custom email notifications
			%td
				.text-center
					.primary-text-color
						&#10003;
			%td.info
				.text-center
					.primary-text-color
						&#10003;
		%tr
			%td
				.text-right
					%p.small
						DEA verifications
			%td
				.text-center
					.primary-text-color
						&#10003;
			%td.info
				.text-center
					.primary-text-color
						&#10003;
		%tr
			%td
				.text-right
					%p.small
						Instant report access
			%td
				.text-center
					.primary-text-color
						&#10003;
			%td.info
				.text-center
					.primary-text-color
						&#10003;
		%tr
			%td
				.text-right
					%p.small
						Unlimited system users
			%td
				.text-center
					.primary-text-color
						&#10003;
			%td.info
				.text-center
					.primary-text-color
						&#10003;
		%tr
			%td
				.text-right
					%p.small
						Collaborative tools
			%td
				.text-center
					.primary-text-color
						&#10003;
			%td.info
				.text-center
					.primary-text-color
						&#10003;
		%tr
			%td
				.text-right
					%p.small
						EverCheck for iPhone
			%td
				.text-center
					.primary-text-color
						&#10003;
			%td.info
				.text-center
					.primary-text-color
						&#10003;
		%tr
			%td
				.text-right
					%p.small
						EmployeeCheck mobile app
			%td
				.text-center
					&mdash;
			%td.info
				.text-center
					.primary-text-color
						&#10003;
		%tr
			%td
				.text-right
					%p.small
						EmployeeCheck web app
			%td
				.text-center
					&mdash;
			%td.info
				.text-center
					.primary-text-color
						&#10003;
		%tr
			%td
				.text-right
					%p.small
						Manual license verifications
			%td
				.text-center
					%p.small
						$2.00 per verification
			%td.info
				.text-center
					%p.small
						$2.00 per verification
		%tr
			%td
				.text-right
					%p.small
						Exclusions monitoring
			%td
				.text-center
					%p.small
						+$0.10 per monitored employee per month
			%td.info
				.text-center
					%p.small
						+$0.10 per monitored employee per month		
