;;;
"title": "Pricing"
;;;

%section.no-padding-bottom
	.container
		.row
			.col-lg-3.col-md-2
			.col-lg-6.col-md-8
				%h2.text-center
					Simple Pricing
				%p.text-center
					From small businesses to large enterprises, EverCheck has a solution that’s right for businesses of all sizes. 
			.col-lg-3.col-md-2
%section.no-padding-bottom
	.container
		.row
			.col-sm-2
			.col-sm-8
				=partial"price_table"
			.col-sm-2
#faqs
%section.no-padding-bottom
	.container
		.row
			.col-lg-3.col-md-2
			.col-lg-6.col-md-8
				%h2
					Frequently asked questions
				%p
					Here's subtext about evercheck frequently asked questions
				%hr.double-margin-bottom.double-margin-top
			.col-lg-3.col-md-2
		.row
			.col-lg-3.col-md-2
			.col-lg-6.col-md-8
				.row.margin-bottom
					.col-sm-6
						.double-margin-bottom
							%p.bold-font-name.small
								Do we pay for the number of licensed employees or the total number of licenses?
							%p.small
								The number of licensed employees. Pay one flat rate for each employee, regardless of the number of licenses. 
					.col-sm-6
						.double-margin-bottom
							%p.bold-font-name.small
								How are employees added or removed from billing?
							%p.small
								Employees are added or removed via a simple automated refresh process, and your organization is billed only for employees whose licenses have been verified within a given month.  Employees’ existing data will remain in EverCheck forever. 
					.col-sm-6
						.double-margin-bottom
							%p.bold-font-name.small
								Is there a long-term contract? 
							%p.small
								No. It’s our responsibility to keep our customers satisfied. Stay because you love our service, not because you have to.  
					.col-sm-6
						.double-margin-bottom
							%p.bold-font-name.small
								Are there additional fees for implementation? 
							%p.small
								No. Implementation is and always will be included. 
			.col-lg-3.col-md-2
=partial"shared/offer"