;;;
"title": "Pricing"
;;;

%section.no-padding-bottom
	.container
		.row
			.col-lg-3.col-md-2
			.col-lg-6.col-md-8
				%h2.text-center
					Simple Pricing
				%p.text-center
					From small businesses to large enterprises, EverCheck has a solution that’s right for businesses of all sizes. 
			.col-lg-3.col-md-2
%section
	.container
		.row
			.col-sm-2
			.col-sm-8
				=partial"price_table"
			.col-sm-2
=partial"shared/offer"