;;;
"title": "Home"
;;;

%section
	.container
		.row
			.col-sm-12
				.row
					.col-lg-2
					.col-lg-8
						.text-center
							%h2
								Regulatory Compliance Can Be Complicated. 
							%h4
								EverCheck is healthcare license verification, simplified. 
							%img.img-responsive.margin-auto.margin-top.margin-bottom.home-image{:src=>"../images/illustration_home.png", :width=>"620px"}
							%p
								%a.btn-primary.btn.btn-lg{:href=>"/demo"}
									Schedule a Demo
								%a.btn-default.btn.btn-lg.fb-video{:href=>"https://vimeo.com/108940649"}
									%small
										%i.fa.fa-play
									Play Demo Video
							%p
								%small
									Or call 
									%span.text-underline
										888-404-7996

					.col-lg-2
.container
	%hr
%section
	.container
		.row
			.col-lg-2
			.col-lg-8
				%h4.text-center
					The Solution Trusted by +200 Healthcare Organizations Nationwide 
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/home_logos@2x.png", :width=>"671px"}
			.col-lg-2
.container
	%hr
%section.no-padding-bottom
	.container
		.row
			.col-lg-2
			.col-lg-8
				%h4.text-center
					Enterprise Solutions. Boutique-Style Service.
			.col-lg-2
		.row
			.col-sm-4
				.text-center.padded
					%h5
						Simple
					%p.small
						Say so long to the days of manual license verification. EverCheck is automated, saving valuable time.  
			.col-sm-4
				.text-center.padded
					%h5
						RELIABLE
					%p.small
						EverCheck verifies license status directly from the Source every day, ensuring compliance with The Joint Commission, DNV, and HFAP. 
			.col-sm-4
				.text-center.padded
					%h5
						CUSTOMIZABLE
					%p.small
						One size fits all doesn’t work. Customize everything from the user interface to notification emails. 
		.row
			.col-lg-12
				.text-center
					%a.btn.btn-default.btn-lg{:href=>"/solution"}
						Learn More
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.double-margin-top{:src=>"../images/home_product@2x.png", :width=>"958px"}
%section.white-bg
	.container
		.row
			.col-sm-2
			.col-sm-8
				.text-center
					%h4.margin-bottom
						Healthcare License Monitoring
						%br
						Made Better.
				%blockquote
					%p
						“Our staff who use it couldn’t be more happy. It’s made their jobs much easier, plus the fact you… are always responsive to our needs."
					%footer
						\- HRIS Manager, Cabell Huntington Hospital
			.col-sm-2
=partial"shared/offer"