;;;
"title": "Collaborate"
;;;

%section
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"../images/illustration_collaboration@2x.png", :width=>"753px"}
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				%h2.text-center
					Collaborate With Your Team. Like a Boss. 
				%p
					Bring your team together with EverCheck’s collaborative tools. Delegate tasks, resolve action items quickly, and share important files. Everyone is on the same page, and it’s all documented inside EverCheck. 
			.col-md-3.col-sm-2
%section.white-bg
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"../images/product_collaboration_one@2x.png", :width=>"408px"}
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				%h2.text-center
					Task Assignment
				%p
					Keep track of who is responsible for resolving license issues and eliminate risky assumptions. With our task assignment feature, transparency and accountability are at the forefront. Supervisors can delegate action items to other users, set deadlines, and manage results.
			.col-md-3.col-sm-2
%section
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"../images/product_collaboration_two@2x.png", :width=>"468px"}
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				%h2.text-center
					Notes
				%p
					Have something important to say? Put it on the record. With our notes feature, you can leave comments under specific to-dos or employee files and have a dated record of who said what.
			.col-md-3.col-sm-2


=partial"shared/offer"