;;;
"title": "Solution"
;;;

%section.no-padding-bottom
	.container
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				.text-center
					%h2
						License Monitoring for the 21st Century
					%p
						Get the solution trusted by more than 200 hospitals across the nation to monitor healthcare licenses every day, directly from the Primary Source. 
			.col-md-3.col-sm-2
%section
	.container
		.row
			.col-md-2.col-sm-1
			.col-md-4.col-sm-5
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/illustration_monotoring_thumb@2x.png", :width=>"356px"}
			.col-md-4.col-sm-5
				.double-margin-top
					%h4
						Monitor What Matters
					%p.small
						Meet and exceed the Primary Source verification requirements set forth by The Joint Commission, DNV Healthcare, and HFAP, with less work and better accuracy.
			.col-md-3.col-sm-1
		.row
			.col-lg-12
				.double-margin-top
					.text-center
						%a.btn.btn-default.btn-lg{:href=>"/solution/monitoring"}
							Learn More About Monitoring
.container
	%hr
%section
	.container
		.row
			.col-md-2.col-sm-1
			.col-md-4.col-sm-5.col-md-push-4.col-sm-push-5
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/illustration_collaboration_thumb@2x.png", :width=>"356px"}
			.col-md-4.col-sm-5.col-md-pull-4.col-sm-pull-5
				.double-margin-top
					%h4
						Collaborate with Your Team 
					%p.small
						Automate your verification process without losing the human element. Share notes, documents, create task workflows, and more.
			.col-md-3.col-sm-1
		.row
			.col-lg-12
				.double-margin-top
					.text-center
						%a.btn.btn-default.btn-lg{:href=>"/solution/collaborate"}
							Learn More About Collaboration
.container
	%hr
%section
	.container
		.row
			.col-md-2.col-sm-1
			.col-md-4.col-sm-5
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/illustration_integration_thumb@2x.png", :width=>"356px"}
			.col-md-4.col-sm-5
				.double-margin-top
					%h4
						Integrate Seamlessly 
					%p.small
						Whether you have a robust HRIS or a homegrown solution, we’ll integrate with your system of record to provide you continuous updates from the Primary Source. 
			.col-md-3.col-sm-1
		.row
			.col-lg-12
				.double-margin-top
					.text-center
						%a.btn.btn-default.btn-lg{:href=>"/solution/integrate"}
							Learn More About Integration
.container
	%hr
%section
	.container
		.row
			.col-md-2.col-sm-1
			.col-md-4.col-sm-5.col-md-push-4.col-sm-push-5
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/illustration_management_thumb@2x.png", :width=>"356px"}
			.col-md-4.col-sm-5.col-md-pull-4.col-sm-pull-5
				.double-margin-top
					%h4
						Effortless Information Management 
					%p.small
						All the information you need, when you need it. Receive notifications on your schedule, run reports when you need them, and retrieve Primary Source verifications at a moment’s notice.
			.col-md-3.col-sm-1
		.row
			.col-lg-12
				.double-margin-top
					.text-center
						%a.btn.btn-default.btn-lg{:href=>"/solution/manage"}
							Learn More About Management
.container
	%hr
=partial"shared/offer"