;;;
"title": "Solution"
;;;

%section.no-padding-bottom
	.container
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				.text-center
					%h2
						Ongoing License Monitoring Directly From The Primary Source
					%h4
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque..
			.col-md-3.col-sm-2
%section
	.container
		.row
			.col-md-2.col-sm-1
			.col-md-4.col-sm-5
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/illustration_monotoring_thumb@2x.png", :width=>"356px"}
			.col-md-4.col-sm-5
				.double-margin-top
					%h4
						Ongoing License Monitoring Directly From The Primary Source
					%p.small
						Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a.
			.col-md-3.col-sm-1
		.row
			.col-lg-12
				.double-margin-top
					.text-center
						%a.btn.btn-default.btn-lg{:href=>"#"}
							Learn More About Monitoring
.container
	%hr
%section
	.container
		.row
			.col-md-2.col-sm-1
			.col-md-4.col-sm-5.col-md-push-4.col-sm-push-5
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/illustration_collaboration_thumb@2x.png", :width=>"356px"}
			.col-md-4.col-sm-5.col-md-pull-4.col-sm-pull-5
				.double-margin-top
					%h4
						A Little Headline about Colaboration
					%p.small
						Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a.
			.col-md-3.col-sm-1
		.row
			.col-lg-12
				.double-margin-top
					.text-center
						%a.btn.btn-default.btn-lg{:href=>"#"}
							Learn More About Collaboration
.container
	%hr
%section
	.container
		.row
			.col-md-2.col-sm-1
			.col-md-4.col-sm-5
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/illustration_integration_thumb@2x.png", :width=>"356px"}
			.col-md-4.col-sm-5
				.double-margin-top
					%h4
						A Little Headline about Integration
					%p.small
						Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a.
			.col-md-3.col-sm-1
		.row
			.col-lg-12
				.double-margin-top
					.text-center
						%a.btn.btn-default.btn-lg{:href=>"#"}
							Learn More About Integration
.container
	%hr
%section
	.container
		.row
			.col-md-2.col-sm-1
			.col-md-4.col-sm-5.col-md-push-4.col-sm-push-5
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/illustration_management_thumb@2x.png", :width=>"356px"}
			.col-md-4.col-sm-5.col-md-pull-4.col-sm-pull-5
				.double-margin-top
					%h4
						A Little Headline about Management
					%p.small
						Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a.
			.col-md-3.col-sm-1
		.row
			.col-lg-12
				.double-margin-top
					.text-center
						%a.btn.btn-default.btn-lg{:href=>"#"}
							Learn More About Management
.container
	%hr
=partial"shared/offer"