;;;
"title": "Integration"
;;;

%section
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"../images/illustration_integration@2x.png", :width=>"753px"}
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				%h2.text-center
					Seamless HRIS Integration 
				%p
					Whether you’re using a leading HRIS system or a home-grown solution, EverCheck is impartial. Our integrations tools offer you We’ll integrate our software with yours and create a seamless transfer of data from our system to your. It’s business as usual (or better!) for you. 
			.col-md-3.col-sm-2
%section.white-bg
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"../images/logos_integrate@2x.png", :width=>"645px"}

=partial"shared/offer"