;;;
"title": "Seamless HRIS Integration",
"description": "Integrate your current system of record with EverCheck and have all the license data you need at your fingertips, right in your existing HRIS."
;;;
%section
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"../images/illustration_integration@2x.png", :width=>"753px"}
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				%h2.text-center
					Seamless HRIS Integration 
				%p
					Whether you’re using a leading HRIS system or a home-grown solution, EverCheck is impartial. Our integrations tools offer you a seamless transfer of data from our system to yours. It’s business as usual (or better!) for you. 
			.col-md-3.col-sm-2
%section.white-bg
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto{:src=>"../images/logos_integrate@2x.png", :width=>"645px"}
%section.no-padding-bottom
	.container
		.row
			.col-lg-3.col-md-2
			.col-lg-6.col-md-8
				%h2.text-center
					HRIS Integration Makes Sense. 
					%br
					Here’s Why. 
				%hr.double-margin-bottom.double-margin-top
			.col-lg-3.col-md-2
		.row
			.col-lg-3.col-md-2
			.col-lg-6.col-md-8
				.row.margin-bottom
					.col-sm-6
						.double-margin-bottom
							%p.bold-font-name.small
								Your HRIS is always current with the most up-to-date license information. 
							%p.small
								Feel confident that the information in your HRIS is current and accurate. EverCheck retrieves data from the Primary Source and updates your employee license records within your HRIS every day. There’s no additional work required on your part.  
					.col-sm-6
						.double-margin-bottom
							%p.bold-font-name.small
								Everything is under one roof. 
							%p.small
								Keeping up with multiple databases, spreadsheets, and applications can be  inefficient. EverCheck produces a direct replica of its data and stores it within your HRIS, so you never question where to find your most valuable information - it’s right there in your HRIS where it belongs. 
				.row.margin-bottom
					.col-sm-6
						.double-margin-bottom
							%p.bold-font-name.small
								It’s an additional safety net for your organization. 
							%p.small
								If an employee is ineligible to work based on licensure status or expiration date, EverCheck relays that information to your HRIS. In turn, your timekeeping software prohibits them from clocking into work. Rest assured knowing unlicensed practitioners aren’t practicing unlawfully within your organization.  
					.col-sm-6
						.double-margin-bottom
							%p.bold-font-name.small
								EverCheck gets what it needs, automatically. 
							%p.small
								Rather than having to manually submit an inventory of active employees, EverCheck securely gathers the information straight from your system. It’s an effective approach to license verification, and a hands-off approach for you. 
			.col-lg-3.col-md-2
.double-margin-top
=partial"shared/next-up", :locals => { :title => 'Manage', :url=>"manage"}
=partial"shared/offer"