;;;
"title": "Effortless License Management",
"description": "EverCheck delivers the tools you need to sort, manage, and utilize license data to keep your organization compliant with regulatory standards."
;;;

%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"../images/illustration_management@2x.png", :width=>"753px"}
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				%h2.text-center
					You Manage the License Verification Process. Not the Other Way Around.
				%p
					Your time is valuable, so spend it doing what only you can do and leave license monitoring to EverCheck. 
			.col-md-3.col-sm-2
%section.no-padding-bottom
	.container
		.row
			.col-md-12
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/product_manage@2x.png", :width=>"576px"}
				%img.img-responsive.margin-auto.margin-top#manage-two.slideinRightonload.animated.invisible.hidden-xs{:src=>"../images/product_manage_two@2x.png", :width=>"499px"}
				%img.img-responsive.margin-auto.margin-top#manage-three.slideinLeftonload.animated.invisible.hidden-xs{:src=>"../images/product_manage_three@2x.png", :width=>"499px"}
.off-white-section-group
	%section.white-bg
		.padding-top
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom.margin-bottom.fadeInOnload.animated.invisible{:src=>"../images/icon_reports@2x.png", :width=>"60px"}
				.col-md-4.col-sm-4.text-center-sm
					%h4
						Interactive Reports 
					%p.small
						See license statuses, expiration dates, and disciplinary actions at a glance or in fine detail, whichever you prefer. Our reports are interactive and easily exportable, giving you the flexibility to use the information your way.
				.col-md-2.col-sm-2
	%section.white-bg
		.padding-top
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom.margin-bottom.fadeInOnload.animated.invisible{:src=>"../images/icon_instant@2x.png", :width=>"42px"}
				.col-md-4.col-sm-4.text-center-sm
					%h4
						Instant Access 
					%p.small
						EverCheck is a cloud-based solution, offering you secure access to the system at any time - just add WiFi. 
				.col-md-2.col-sm-2
	%section.white-bg
		.padding-top
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom.margin-bottom.fadeInOnload.animated.invisible{:src=>"../images/icon_email@2x.png", :width=>"75px"}
				.col-md-4.col-sm-4.text-center-sm
					%h4
						Custom Email Notifications 
					%p.small
						Empower your staff to manage with more efficiency. We’ll take care of notifying healthcare providers when their license is due for renewal and alerting their managers of important status changes. Best of all, these emails are customizable so you choose the message, the tone, and how often they’re sent.
				.col-md-2.col-sm-2
	%section.white-bg
		.padding-top
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom.margin-bottom.fadeInOnload.animated.invisible{:src=>"../images/icon_unlimited@2x.png", :width=>"104px"}
				.col-md-4.col-sm-4.text-center-sm
					%h4
						Unlimited Users  
					%p.small
						We will never put a limit on the number of users who can access EverCheck.
				.col-md-2.col-sm-2
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom.margin-bottom.fadeInOnload.animated.invisible{:src=>"../images/icon_history@2x.png", :width=>"82px"}
				.col-md-4.col-sm-4.text-center-sm
					%h4
						Primary Source Histories 
					%p.small
						EverCheck keeps a detailed history of license status changes via time-stamped screenshots from the Primary Source. They’re retrievable anytime, so you’re covered during a survey. 
				.col-md-2.col-sm-2
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom.margin-bottom.fadeInOnload.animated.invisible{:src=>"../images/icon_roles@2x.png", :width=>"66px"}
				.col-md-4.col-sm-4.text-center-sm
					%h4
						Custom Roles 
					%p.small
						Encourage a higher level of accountability and give your supervisors the tools they need to effectively manage their employees and their employees’ licenses. With flexible system controls, you decide what level of visibility and authority each user has over EverCheck’s features. You can even assign supervisors to work groups so they only have access to their own staff’s profiles.
				.col-md-2.col-sm-2
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4.text-center-sm
					%img.img-responsive.margin-auto.margin-top.margin-bottom.margin-bottom.fadeInOnload.animated.invisible{:src=>"../images/icon_signon@2x.png", :width=>"81px"}
				.col-md-4.col-sm-4.text-center-sm
					%h4
						Single Sign-On 
					%p.small
						Stay secure with the option of authenticating users via your organization’s network. An added level of security for your organization, and one less password to remember for your users. 
				.col-md-2.col-sm-2
		.padding-bottom
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4.text-center-sm
					%img.img-responsive.margin-auto.margin-top.margin-bottom.margin-bottom.fadeInOnload.animated.invisible{:src=>"../images/icon_audits@2x.png", :width=>"53px"}
				.col-md-4.col-sm-4.text-center-sm
					%h4
						We’re In This Together
					%p.small
						Here at EverCheck, we’re perfectionists. We have a team of experts dedicated to making sure that the data flowing through the EverCheck system and your system is accurate, clean, and reliable. 
				.col-md-2.col-sm-2
.anchor#evercheck-iphone
%section
	.container
		.row
			.col-md-3.col-sm-2
			.col-md-4.col-sm-4
				.margin-top
					%h4
						EverCheck for iPhone  
					%p.small
						Don’t let compliance chain you to your desktop. Stay informed wherever you are with the app that brings the functionality of EverCheck to your mobile device. 
				%a{:href=>"#"}
					.media.margin-top
						.media-left
							%img.media-object.quarter-margin-right{:src=>"../images/app_icon@2x.png", :width=>"64px"}
						.media-body
							.media-heading.quarter-margin-top
								%h5
									Evercheck App
								%p.small
									Download from the iTunes app store

			.col-md-3.col-sm-4
				%img.img-responsive.margin-auto.margin-top.margin-bottom{:src=>"../images/illustration_app@2x.png", :width=>"206px"}
			.col-md-2.col-sm-2
=partial"shared/next-up", :locals => { :title => 'Collaborate', :url=>"collaborate"}
=partial"shared/offer"