;;;
"title": "Monotoring"
;;;

%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"../images/illustration_monotoring@2x.png", :width=>"753px"}
		.row
			.col-md-3.col-sm-2
			.col-md-6.col-sm-8
				%h2.text-center
					Monitor Licenses and Credentials The Smart Way
				%p
					Take control of primary source license verification without the hassle of doing it by hand. With EverCheck, you stay informed of changes that may affect an employee’s eligibility to work.
			.col-md-3.col-sm-2
%section.no-padding-bottom
	.container
		.row
			.col-mg-12
				%img.img-responsive.margin-auto.margin-top{:src=>"../images/monotoring_product@2x.png", :width=>"1063px"}
.off-white-section-group
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom{:src=>"../images/icon_heartcard@2x.png", :width=>"90px"}
				.col-md-4.col-sm-4
					%h4
						Heartcards
					%p.small
						With a simple smartphone app that leverages OCR smart scan technology, the days of manually verifying and re-verifying physical credentials furnished by AHA educators is over. 
				.col-md-2.col-sm-2
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4.col-md-push-4.col-sm-push-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom{:src=>"../images/icon_reg@2x.png", :width=>"70px"}
				.col-md-4.col-sm-4.col-md-pull-3.col-sm-pull-4
					%h4
						DEA Registrations
					%p.small
						Not all DEA registrations are created equal. Monitor your physician's authorized drug schedules and state in which they are eligible to furnish medication
				.col-md-2.col-sm-2
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom{:src=>"../images/icon_certifications@2x.png", :width=>"78px"}
				.col-md-4.col-sm-4
					%h4
						Certifications
					%p.small
						Take control of monitoring EverCheck also monitors national certifications such as ARDMS, AAMA, CPSG, CSFA, and many more. 
				.col-md-2.col-sm-2
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4.col-md-push-4.col-sm-push-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom{:src=>"../images/icon_exclusions@2x.png", :width=>"88px"}
				.col-md-4.col-sm-4.col-md-pull-3.col-sm-pull-4
					%h4
						OIG Exclusions
					%p.small
						Eliminate the need to manually verify each of your employees against the OIG Exclusion database. EverCheck provides an updated report monthly and cross-references your current employees’ names with the exclusion list. 
				.col-md-2.col-sm-2
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom{:src=>"../images/icon_cred@2x.png", :width=>"82px"}
				.col-md-4.col-sm-4
					%h4
						Unmonitored Credentials
					%p.small
						Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a.
				.col-md-2.col-sm-2
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4.col-md-push-4.col-sm-push-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom{:src=>"../images/iicon_licenses@2x.png", :width=>"122px"}
				.col-md-4.col-sm-4.col-md-pull-3.col-sm-pull-4
					%h4
						DMV Records 
					%p.small
						Easily see who is clear to drive for your organization and who isn’t. EverCheck monitors DMV records and alerts you of any infractions, suspensions, tickets, or elapsed expiration dates. 
				.col-md-2.col-sm-2
	%section.white-bg
		.container
			.row
				.col-md-3.col-sm-2
				.col-md-3.col-sm-4
					%img.img-responsive.margin-auto.margin-top.margin-bottom{:src=>"../images/icon_verifications@2x.png", :width=>"90px"}
				.col-md-4.col-sm-4
					%h4
						Manual Verifications
					%p.small
						An EverCheck specialist manually verifies licenses at the frequency of your choosing, and incorporates the data into the reports you already receive. You’ll never know the difference. 
				.col-md-2.col-sm-2
.double-margin-top
=partial"shared/next-up", :locals => { :title => 'Collaborate', :url=>"collaborate"}
=partial"shared/offer"